 <html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta charset="UTF-8">
  </head>

  <div class="navbar-wagon">
    <a href="/" class="navbar-wagon-brand"></a>
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <div class="dropdown">
        <%= cl_image_tag("LEMONLIME-600x600.jpg", :width=>20, :crop=>"scale") %>
        <img src="https://us.123rf.com/450wm/dstarky/dstarky1701/dstarky170100422/69262793-stock-vector-cocktail-icon-or-logo-in-modern-line-style-high-quality-black-outline-pictogram-for-web-site-design-.jpg?ver=6" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <div class="navbar-wagon-item navbar-wagon-link">
            <% @cocktails.each do |cocktail| %>
              <li><%= link_to cocktail.name, cocktail_path(cocktail)%></li>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/05/22/13/gin-cocktails.jpg?w968h681');">
    <div class="banner-content">
      <h1>Mixology Mania</h1>
      <h2>"When he pours, he reigns."</h2>
      <%= link_to "Cocktail Crafting . . .", new_cocktail_path %>
    </div>
  </div>

  <div class="container">
    <div class="card">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-6 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cocktail.reomte_photo_url %>');">
            <div class="row">
              <ul class="card-list">
                <li><%= cocktail.name %></li>
                  <li><%= link_to "Details", cocktail_path(cocktail) %></li>
                  <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure ? "} do %>
                    <li><i class="far fa-trash-alt"></i></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/HannahHawken96"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/hannah.l.hawken"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/hannah-hawken-7842a878/"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Mixology Mania
    </div>
  </div>
 </html>
